<template name="navigationBar">


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom " style="padding-top:5px; padding-bottom: 2px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <img class="navbar-brand" src="img/logos/logo.png" style="position: inherit; height: 100px; width: auto; align-content: center">

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio">Solutions</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Platform</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#clients">Clients</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</template>