<template name="landingHeader">
    <header>
        <div class="container">
            <p id="particles" style="width: 100vw; height: 40%; z-index: 2; position: absolute"></p>

            <div class="intro-text">
                <p class="intro-lead-in" style="z-index: 1">Our AI-Based Solutions will let you invest</p>
                <p class="intro-heading" style="z-index: 1">Autonomously
                    </p>
                <a href="#about" class="page-scroll btn btn-xl" style="z-index: 1">Learn More</a>
            </div>
        </div>

    </header>

</template>